
/*TODOS LOS INDEX*/


*{
    box-sizing: border-box;
}


body{
    background-color: #000085;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    display: flex;
    padding: 20px;
    height: 50px;
    width: 180px;
    justify-content: space-around;
    background-color:rgb(54, 56, 201);
    color: white;
    text-decoration: none;
    

}

.navegador{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
    padding-top: 15px;
    font-weight: bolder;
    background-color: rgb(54, 56, 201);
    height: fit-content;
    
}

.logo-cont{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    height: auto;
    
 }

.logo{
    width: 250px;
    max-height: 100%;
    display: flex;
    
}

h1{
    color: lightsteelblue;
    font-family: 'Mulish', sans-serif;
    
}


.navegador2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 15px;
    
}

.menu2{
    display: flex;
    padding: 20px;
    height: 50px;
    width: 180px;
    justify-content: space-around;
    background-color:steelblue;
    color: white;
    text-decoration: none;
}

h2{
    background-color: rgba(white,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
}


.foto-movie{
    display: flex;
    width: 200px;
    height: auto;
    padding: 20px;
    
}

.detallemovie{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}

/*HOME*/
.grupos{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cuadros-grupos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}

.imgindex{
    display: flex;
    width: 180px;
    height: 250.92px;
     
}

.singularcuadrado-texto{
    font-size: medium;
    justify-content: space-around;
    padding: 15px;
    

}