
/*TODOS LOS INDEX*/


*{
    box-sizing: border-box;
}


body{
    background-color: #000085;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    display: flex;
    padding: 20px;
    height: 50px;
    width: 180px;
    justify-content: space-around; 
    background-color:rgb(54, 56, 201);
    color: white;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
    font-weight: bolder;
    background-color: rgb(54, 56, 201);
    height: fit-content;
}


.logo-cont{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    height: auto;
    font-weight: bolder;
 }

.logo{
    width: 250px;
    max-height: 100%;
    display: flex;    
}

h1{
    color: lightsteelblue;
    font-family: 'Mulish', sans-serif;
}

input{
    background-color: rgba(182, 198, 252, 0.7);
    border: 0;
    border-radius: 5px;
    outline: none;
}

.navegador2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(54, 56, 201);
}

.menu2{
    display: flex;
    padding: 20px;
    height: 50px;
    width: 180px;
    justify-content: space-around;
    background-color: rgb(54, 56, 201);
    color: white;
    text-decoration: none;
}

h2{
    background-color: rgba(white,0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    font-size: 20px;
    
}


.foto{
    display: flex;
    width: 270px;
    height: 390px;
    padding: 20px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

h3{
    display: flex;
    align-self: center;
    justify-content: center;
}
#resultados-busqueda{
    display: flex;
    flex-wrap: wrap;
}
.pelis{
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    height: 530px;
}

.detallemovie{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    font-size: 20px;
    line-height: 50px;
    
}

.grupos{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}


.cuadros-grupos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}


.cuadrado{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    align-self: center;
}


.singularcuadrado-texto{
    display: flex;
    flex-direction: row;
    font-size: medium;
    padding: 10px; 
}

.cuadrado.serie{
    border: solid white 1px;
}


P{
    text-align: center;
    align-self: center;
}

/*GENRES*/

.generos.deseries{
    font-weight: bolder;
    color: aliceblue ;
    height: fit-content;
    text-decoration: none;
    text-decoration-line: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}


.database{
    width: 20%;
}
footer{
    text-align: center;
}
.oculta{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.verRecomendaciones{
    background-color: rgba(182, 198, 252, 0.7);
    border: 0;
    border-radius: 5px;
    outline: none;
    color: white;
}

@media(max-width: 420px){

    .navegador{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content:center;
    }
    
    .imgindex{
        align-items: center;
        size: 90%;
    }

    .menu{
        width: 100%;
        align-self: center;
        flex-wrap: wrap;
    }

    .pelis{
        width: 90%;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .navegador2{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        
    }

    .menu2{
        width: 100%;
        align-self: center;
        flex-wrap: wrap;
        
    }

    .grupos{
        display: flex;
        justify-self: center;
        width: 100%;
    }

    .logo-cont{
        flex-direction: column;
        align-items: center;
    }

    .cuadros-grupos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }


    .detallemovie{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h2{
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .foto{
        align-items: center;
        align-self: center;
        justify-content: center;
    }

    a{
        justify-content: center;
    }
    .cuadrado{
        margin: 0px;
        padding:20px;
        width: 90%;
    }
    .database{
        width: 40%;
    }
}
